<h2>Edit step</h2>
  <form name="ctrl.editStepForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label><br>
      <input name="name" required ng-model="ctrl.editStep.name">
    </div>

    <div class="form-group">
      <label for="description">Description</label><br>
      <textarea name="description" ng-model="ctrl.editStep.description"></textarea>
    </div>

    <div class="form-group">
      <label>
          <input type="checkbox" id="start" name="start" ng-model="ctrl.editStep.start">start
      </label>
    </div>

    <div class="form-group">
      <label for="description">actions</label><br>
      <select name="" ng-model="ctrl.currentAction" ng-options="action.type for action in ctrl.editStep.actions"></select>
      <div ng-show="ctrl.currentAction">
        <label for="type">Type</label>
        <input name="type" ng-model="ctrl.currentAction.type"><br>

        <label for="name">Name</label>
        <input name="name" ng-model="ctrl.currentAction.name"><br>

        <label for="params">type</label>
        <select name="" ng-model="ctrl.currentAction.params" ng-options="name as data for (name, data) in ctrl.currentAction.params"></select>
        <div ng-show="ctrl.currentAction">
          {{ name}} : {{data}}
      </div>
      <!-- <pre>{{ ctrl.currentAction | json }}</pre> -->
    </div>

    <button type="submit" ng-click="ctrl.saveEditForm()">Save</button>
    <pre>{{ ctrl.editStep | json }}</pre>
  </form>
