<h2>Edit step</h2>
<form ng-submit="ctrl.save()" name="ctrl.stepForm" novalidate>

    <p>
        <label for="name">Name *</label>
        <input ng-model="ctrl.step.name" name="name" id="name" type="text" required>
    </p>

    <p>
        <label for="start">Start</label>
        <input ng-model="ctrl.step.start" name="start" id="start" type="checkbox">
    </p>

    <p>
        <label for="desc">Description</label>
        <textarea ng-model="ctrl.step.description"
            name="description"
            id="desc"></textarea>
    </p>


    <p ng-repeat="action in ctrl.step.actions track by $index">

        <label for="">name</label>
        <input type="text" ng-model="action.name">

        <label for="">type</label>
        <select ng-model="action.type"
            ng-options="typeAction for typeAction in ctrl.typeActions"></select>

        <label for="">parameters</label>
        <textarea ng-model="action.params"></textarea>

        <button type="button" ng-click="ctrl.removeAction($index)">Delete</button>
    </p>
    <button type="button" ng-click="ctrl.addAction()">Add action</button>

    <p>
        <button type="submit">Save</button>
        <button type="button" ng-click="ctrl.delete()">Delete</button>
    </p>

</form>
