<div class="chargement">
    <p>Charger une partie:</p>
    <button type="button" class="btn btn-sm btn-success" ng-click="ctrl.loadGame(1)">Partie 1</button>
    <button type="button" class="btn btn-sm btn-success" ng-click="ctrl.loadGame(2)">Partie 2</button>
    <button type="button" class="btn btn-sm btn-success" ng-click="ctrl.loadGame(3)">Partie 3</button>
</div>

<input type="text" ng-model="query">
<table class="table">
    <thead>
        <tr>
            <th colspan="3"><a href="" ng-click="ctrl.sortBy('name')">Nom</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="step in ctrl.steps | filter:{name:query} | orderBy:ctrl.predicate:ctrl.reverse track by $index">
            <td>{{ step.name }}</td>
            <td>
                <a ng-href="#/edit/{{ step.id }}">Edit</a>
            </td>
            <td>
                <button type="button" class="btn btn-xs btn-primary" ng-click="ctrl.startGame(1)" ng-show="step.start === true">Démarrer partie 1</button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="ctrl.startGame(2)" ng-show="step.start === true">Démarrer partie 2</button>
                <button type="button" class="btn btn-xs btn-primary" ng-click="ctrl.startGame(3)" ng-show="step.start === true">Démarrer partie 3</button>
            </td>
        </tr>
    </tbody>
</table>